<!DOCTYPE html>
<html>
  <head>
    <title>RuleEngine</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= button_to 'Sign out'.html_safe, destroy_user_session_path, method: :delete, style: 'float: right' if signed_in? %>
    <center><h1>Rule Engine</h1></center>
  </head>
  <body>
    <style>
      table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
      }

      thead {
        background-color: #f2f2f2; 
        border: 1px solid #ddd;
      }

      th, td {
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even){ background-color: #f2f2f2 }

      html,body { height: 100%;  margin: 0.1; }

      body {
        display: table;
        width: 99%;
      }

      footer {
        height: 50px;
        background: PapayaWhip;
        display: table-row;
      }

      footer a {
        text-decoration: none;
      }

      footer p {
        padding: absolute;
        margin-left: 10px;
      }
    </style>

    <%= yield %>

    <br><br>

    <footer>
      <p>All Rights Reserved &copy; <%= Date.today.year %> & Powered by <b><%= link_to 'Manjunath P', 'https://github.com/manjunath724', target: '_blank' %></b></p>
      <p>Contact information: <a href="mailto:manjunath724@gmail.com">manjunath724@gmail.com</a>.</p>
    </footer>
  </body>
</html>
